@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 font-family: 'Raleway', sans-serif;
 font-size: 1.6rem;
 background: hsl(225, 100%, 94%)
}
.card_order{
    width: 20%;
    margin: 10% auto;
    background: hsl(225, 100%, 100%);
    border-radius: 10px;
 img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
 }   
h4{
    text-align: center;
    padding: 20px 0 20px 0;
    color: hsl(223, 47%, 23%);
 }
p{
    text-align: center;
    font-size: 1rem;
    padding:20px;
    color: hsl(224, 23%, 55%)
 }
 .card_plan{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background: hsl(225, 100%, 94%);
     border-radius: 10px;
     padding: 20px;
     width: 90%;
     margin: 0 auto;
     
    img{
        width: 40px;
        height: 40px;
    } 
    span{
        font-size: 1rem;
        padding-left: 20px;
    }
   a{
         text-decoration: none;
         color: #5902EC;
         font-size: 1rem;
         padding-top: 8px;
   }  
    }
    .a{
        width: 90%;
        background: #610feec4;
        border-radius: 10px;
        padding: 10px;
        color:hsl(225, 100%, 100%);
        font-size: 0.9rem;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        box-shadow: inset;
    }  
    .b{
        width: 90%;
        border-radius: 10px;
        background: transparent;
        padding: 10px 0 20px 0;
        color: hsl(0, 0%, 0%);
        font-size: 0.9rem;
        font-weight: 700    ;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 20px auto;
    } 
}