:root{
            /* Colors */
    --color-green:hsl(86, 100%, 60%);
    --color-green2:hsl(86, 72%, 48%);
      
          /* Button-color */
    --color-hover-green:hsl(85, 56%, 51%);      
       
         /* Color-black */
    --color-black:hsl(0, 0%, 0%);
    --color-black2: hsl(0, 0%, 17%);

         /* Color-gray */
    --color-gray: hsl(0, 0%, 55%) ;   
    --color-gray2: hsl(0, 0%, 68%);
    --color-gray3: hsl(0, 0%, 96%);
    --color-gray4: hsl(0, 0%, 95%);
    --color-gray5: hsl(0, 0%, 100%);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* Header */
Header{
    width: 100%;
    height: 100vh;
    background-image: url("/assets/img/BG1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.navbar .navbar-logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .navbar-logo img{
    width: 40px;
    height: 40px;
}
.navbar .navbar-logo p{
    color: var(--color-gray5);
    font-size: 1.5rem;
    padding: .5rem;
}
.navbar .navbar-menu{
    padding-top: 1.5rem;
}
.navbar .navbar-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
}
.navbar .navbar-menu ul li {
    font-size: 1rem;
    padding: 1rem;
}
.navbar .navbar-menu ul li a{
    color: var(--color-gray5);
    text-decoration: none;
    font-weight: 200;
}
.navbar .navbar-menu ul li a:hover{
    color: var(--color-green);
}
.navbar .navbar-sign {
    display: flex;
    padding-top: 2.5rem;
}
.navbar .navbar-sign .navbar-login{
    padding-right: 40px;
}
.navbar .navbar-sign .navbar-login a {
    color: var(--color-gray5);
    text-decoration: none;
    font-weight: 200;
}
.navbar .navbar-sign .navbar-signup {
    background-color: var(--color-gray5);
    width: 100px;
    height: 20px;
    border-radius: 10px;
}
.navbar .navbar-sign .navbar-signup a {
    color: var(--color-black);
    text-decoration: none;
    font-weight: 200;
    text-align: center;
    padding: 1rem;
}

/* Header-title */
.header-hero {
    width: 100%;
}
.header-hero .header-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-hero .header-title h1 {
    color: var(--color-gray5);
    font-size: 72px;
    font-weight: 700;
    text-align: center;
}
.header-hero .header-title p {
    color: var(--color-gray2);
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    padding-top: 20px;
    line-height: 30px;
}
.header-hero .header-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-hero .header-button a {
    background-color: var(--color-green);
    color: var(--color-black);
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    padding:.8rem;
    cursor: pointer;
    text-decoration: none;
}
.header-hero .header-button a:hover{
    background-color: var(--color-hover-green);
    transition: all .3s ease-in-out;
}
.header-hero .header-image {
    display: flex;
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
}
.header-hero .header-image .image-tabs {
    width: 100%;
    height: 100%;
}
.header-hero .header-image .image-tabs img {
    width: 90%;
}
.header-hero .header-image .image-tabs:nth-child(1) {
    position: relative;
    left: 180px;
    transform: rotate(-4deg);
    z-index: 4;
}
.header-hero .header-image .image-tabs:nth-child(2) {
    position: relative;
    top: 50px;
    transform: rotate(2deg);
    z-index: 3;
}
.header-hero .header-image .image-tabs:nth-child(3) {
    position: relative;
    right: 50px;
    transform: rotate(-4deg);
    z-index: 2;
}
.header-hero .header-image .image-tabs:nth-child(4) {
    position: relative;
    top: 30px;
    right: 170px;
    transform: rotate(2deg);
    z-index: 1;
}

/*Section-tabs1 */
.section-tabs {
    background-color: var(--color-green);
    width: 100%;
    height: 80vh;
}
.section-tabs .section-tabs-title h3 {
   text-align: center;
   color: var(--color-black);
   font-size: 72px;
   padding-top: 10%;
}
.section-tabs .section-tabs-last {
    background-color: var(--color-gray4);
    width: 20%; 
    margin: 3% auto;     
    padding:30px;
    border-radius: 16px;
}
.section-tabs .section-tabs-last img {
    width: 100%;
}
.section-tabs .section-tabs-paragraf {
    margin: 5% auto;
    text-align: center;
}
.section-tabs .section-tabs-paragraf p{
    line-height: 30px;
    font-size: 18px;
}
/*  Section-brands */
.section-brands {
    width: 100%;
    height: auto;
    background-color: var(--color-gray5);
}
.section-brands .section-brands-title {
    text-align: center;
    padding-top: 5%;
}
.section-brands .section-brands-title h5{
    font-size: 64px;
    line-height: 80px;
}
.section-brands .section-brands-title h5 span {
    color: var(--color-gray2);
}
.section-brands .section-brands-text {
    padding-top: 15%;
}
.section-brands .section-brands-text h2{
    font-size: 64px;
    line-height: 80px;
    text-align: center;
}
.section-brands .section-brands-text img {
    width: 100%;
    padding: 10%;
}

/* Main */
.section-platform {
    width: 100%;
    height: auto;
    background-color: var(--color-gray4);
}
.section-platform .main-title {
    text-align: center;
    padding-top: 5%;
}
.section-platform .main-title h5{
    font-size: 64px;
    line-height: 80px;
}
.section-platform .main-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8%;
}
.section-platform .main-img img {
    background-color: var(--color-gray5);
    padding: 30px;
    border-radius: 10px;
}
.section-platform .main-img img:nth-child(2) {
    background-color: var(--color-green);
}
.section-platform .main-trends {
    width: 100%;
}
.section-platform .main-trends img {
    width: 100%;
    padding: 0 30% 2% 30%;
    border-radius: 10px;
}
.section-platform .main-more {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-platform .main-more a {
    background-color: var(--color-black);
    color: var(--color-gray5);
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    padding:.8rem;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
}

/* Section-price */
.section-price {
    width: 100%;
    height: auto;
    background-color: var(--color-black);
}
.section-price .section-price-title {
    padding-top: 8%;
}
.section-price .section-price-title h6{
    text-align: center;
    color: var(--color-gray5);
    font-size: 64px;
}
.section-price .section-price-card {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    width: 100%;
    height: 800px;
}
.section-price .section-price-card .section-price-personal {
    width: 20%;
    background-color: var(--color-gray5);
    border-radius: 10px;
    padding: 10px;
    line-height: 30px;
}
.section-price .section-price-card .section-price-personal h3{
    color: var(--color-black);
    font-size: 20px;
    padding: 10px 0 0 10px;
}
.section-price .section-price-card .section-price-personal p {
    color: var(--color-black2);
    font-size: 14px;
    padding: 0 0 0 10px;
    height: 50px;
    border-bottom: 1px solid var(--color-gray3);
}
.section-price .section-price-money {
    background-color: var(--color-gray5);
    padding-top: 10px;
}
.section-price .section-price-card .section-price-money h5{
    color: var(--color-black);
    font-size: 40px;
    padding: 10% 0 0 10px;
}
.section-price .section-price-card .section-price-money span{
    color: var(--color-black);
    font-size: 14px;
    padding-top: 10px;
}
.section-price .section-price-card .section-price-money span {
    color: var(--color-black);
    font-size: 14px;
    padding-top: 20%;
}
.section-price .section-price-card .section-price-prop {
    background-color: var(--color-gray5);
    border-radius: 10px;
    padding: 10% 0  0 5%;
}
.section-price .section-price-card .section-price-prop h2 {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    padding-top:20px;
}
.section-price .section-price-card .section-price-button {
   margin-top: 10%;
}
.section-price .section-price-card .section-price-button button {
    background-color: var(--color-green);
    color: var(--color-black);
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    padding:.8rem;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    width: 90%;
}
.section-price .section-price-card .section-price-regular {
    width: 20%;
    background-color: var(--color-green);
    border-radius: 10px;
    padding: 10px;
    line-height: 30px;
}
.section-price .section-price-card .section-price-regular h3{
    color: var(--color-black);
    font-size: 20px;
    padding: 10px 0 0 10px;
}
.section-price .section-price-card .section-price-regular p {
    color: var(--color-black2);
    font-size: 14px;
    padding: 0 0 0 10px;
    height: 50px;
    border-bottom: 1px solid var(--color-gray3);
}
.section-price .section-price-regular-money {
    padding-top: 10px;
}
.section-price .section-price-card .section-price-regular-money h5{
    color: var(--color-black);
    font-size: 40px;
    padding: 10% 0 0 10px;
}
.section-price .section-price-card .section-price-regular-money span{
    color: var(--color-black);
    font-size: 14px;
    padding-top: 10px;
}
.section-price .section-price-card .section-price-regular-prop {
    padding: 10% 0  0 5%;
}
.section-price .section-price-card .section-price-regular-prop h2 {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    padding-top:20px;
}
.section-price .section-price-card .section-price-regular-button {
    margin-top: 10%;
 }
 .section-price .section-price-card .section-price-regular-button button {
     background-color: var(--color-black);
     color: var(--color-gray5);
     font-size: 14px;
     font-weight: 700;
     border: none;
     border-radius: 40px;
     padding:.8rem;
     cursor: pointer;
     text-decoration: none;
     margin: 10px;
     width: 90%;
 }
.section-price .section-price-button {
    display: flex;
    justify-content: center;
    padding: 2%;
}
 .section-price-button .toggle-control {
    display: block;
    position: relative;
    padding-left: 100px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .section-price-button .toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .section-price-button .toggle-control input:checked ~ .control {
    background-color: var(--color-gray5);
  }
  
  .section-price-button .toggle-control input:checked ~ .control:after {
    left: 55px;
  }
  
  .section-price-button .toggle-control .control {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: var(--color-gray5);
    -webkit-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
  }
  
  .section-price-button .toggle-control .control:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: var(--color-green);
    -webkit-transition: left 0.15s ease-in;
    transition: left 0.15s ease-in;
  }
.section-price-button .section-price-month {
    color: var(--color-gray5);
    padding: 20px;
}
.section-price-button .section-price-year {
    color: var(--color-gray);
    padding: 20px;
}

